In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as py

In [19]:
data=pd.read_csv('data.csv')
data.dropna()

data.head()

,Disease,County,Year,Sex,Count,Population,Rate,CI.lower,CI.upper,Unstable
0,Amebiasis,California,2001,Female,176,17339700,1.015,0.871,1.177,
1,Amebiasis,California,2001,Male,365,17173042,2.125,1.913,2.355,
2,Amebiasis,California,2001,Total,541,34512742,1.568,1.438,1.705,
3,Amebiasis,California,2002,Female,145,17554666,0.826,0.697,0.972,
4,Amebiasis,California,2002,Male,279,17383624,1.605,1.422,1.805,

In [21]:
req=['Disease','Count']
data_d=data[req]
data_d=pd.get_dummies(data_d)
data_d.head()

,Count,Disease_Amebiasis,Disease_Anaplasmosis and Ehrlichiosis,Disease_Anthrax,Disease_Babesiosis,"Disease_Botulism, Foodborne","Disease_Botulism, Infant","Disease_Botulism, Other","Disease_Botulism, Wound",Disease_Brucellosis,...,Disease_Tetanus,Disease_Toxic Shock Syndrome (Non-Streptococcal),Disease_Trichinosis,Disease_Tuberculosis,Disease_Tularemia,"Disease_Typhoid Fever, case",Disease_Typhus Fever,Disease_Varicella Hospitalizations,Disease_Vibrio Infection (non-Cholera),Disease_Yersiniosis
0,176,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,365,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,541,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,145,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,279,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
data_d.plot.pie(subplots=True)
py.show()